@import "tailwindcss";
/* text font */
.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
}
/* nav width  */
.nav-section{
    max-width:1240px;
    max-height: 100px;
    margin: 0 auto ;
}

/* banner width  */
.banner-section{
    max-height: 239px;
    max-width: 1280px;
    margin: 0 auto;
}
.card-section {
    max-width: 1220px;
    margin: 30px auto;
}
.test-html{
    max-width: 800px;
    margin: 0 auto;
}